.react-calendar-heatmap .color-scale-0 { fill: black; }
.react-calendar-heatmap .color-scale-1 { fill: lime; }
/* .react-calendar-heatmap .color-scale-2 { fill: pink; } */
.react-calendar-heatmap .color-empty { fill: black}