canvas {
  width: 10px;  /* Ensure canvas takes the full width */
  height: inherit;
}

.widget {
  display: flex;
  margin: 10px;
  border-width: 1px;
  border-color: white;
  border-radius: 5px;
  width: 500px;  /* This can be adjusted to allow more widgets per row */
  height: 300px;
  background: #444444;
}

.widgetBox {
  display: flex;
  flex-wrap: wrap;  /* Ensure wrapping */
  gap: 10px;  /* Optional: Adds space between widgets */
  justify-content: flex-start;  /* Optional: Align widgets at the start */
  width: 100%;  /* Ensure full width */
  padding: 0;
  margin: 0;
  background: red;
}
